{% extends "uspgrade/base.html" %}

{% block 'content' %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        O UsPGrade foi criado com o propósito de permitir que os alunos da USP possam
        dar suas sugestões para a melhoria da universidade e criar um canal de comunicação
        entre estudantes e administradores.
      </p>
      <p>
        Sua concepção se deu no contexto da disciplina de Laboratório de Engenharia de Software, da Escola Politécnica da USP. Em que
        os alunos deveriam criar um sistema que fizesse uso de banco de dados.
      </p>
      <p>
        Ele é baseado na segunite idéia: Um usuário faz uma "sugestão", por exemplo falta de sinal de internet,
        a partir deste ponto os outros usuários podem "endossar", caso concordem com a sugestão, ou "rechaçar", caso discordem da mesma.
        O usuário também pode fazer comentários sobre as sugestões em aberto.
        Quando uma sugestão alcança 100 endossos, um administrador é notificado do problema. Este deve dar sua resposta sobre a questão.
      </p>
      <p>
        É importante ressaltar que o UspGrade presa pela ética e respeito, e caso alguma sugestão e/ou comentário tenha conteúdo
        impróprio, ela pode ser denunciada pelos usuários e poderá ser removida do site.
      </p>
      <p>
        Esperamos que esta ferramenta seja útil ao uspianos e cumpra seu propósito de ajudar a melhorar a USP.
        BOAS SUGESTÕES!
      </p>
    </div>
  </div>
</div>
{% endblock %}