{% extends "uspgrade/base.html" %}

{% block 'content' %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>{{ sugestao.titulo }}</h1>
      {% if sugestao.fechada %}
      <h2 class="text-danger">Essa sugestão foi fechada</h2>
      {% endif %}
      <p>{{ sugestao.conteudo }}</p>
      <p>Criada por {{ sugestao.usuario }} em {{ sugestao.data }}</p>
      <p><strong>{{ sugestao.instituto }} | {{ sugestao.categoria }}</strong></p>

      <p>
        <span title="Endossos" class="glyphicon glyphicon-chevron-up text-success"></span> {{ sugestao.conta_positivos }}
        <span title="Rechaçadas" class="glyphicon glyphicon-chevron-down text-danger"></span> {{ sugestao.conta_negativos }}
        <span title="Denúncias" class="glyphicon glyphicon-remove text-danger"></span> {{ sugestao.conta_denuncias }}<br />

        {% if not sugestao.fechada and request.user.is_authenticated %}
        <button class="btn btn-success botao-votar" data-sugestao="{{sugestao.id}}" data-voto="E">Endossar</button>
        <button class="btn btn-danger botao-votar"  data-sugestao="{{sugestao.id}}" data-voto="R">Rechaçar</button>
        <button class="btn btn-danger botao-votar"  data-sugestao="{{sugestao.id}}" data-voto="D">Denunciar</button>
        {% if request.user.usuario.tipo == 'Moderador' %}
        <button class="btn btn-danger botao-votar"  data-sugestao="{{sugestao.id}}" data-voto="F">Fechar</button>
        {% endif %}
      {% endif %}
      </p>

      {% if resposta %}
      <font color="{% if resposta.tipo == 'P' %}green{% else %}red{% endif %}">
        <h2>Resposta</h2>
        <p>{{ resposta.conteudo }}</p>
        <p>De {{ resposta.usuario }}</p>
      </font>
      {% endif %}

      <hr />
      {% if form %}
      <form role="form" method="POST">
        {% csrf_token %}
        <div class="row">

          {% if falha %}
          <div class="form-group col-md-12">
            <div class="alert alert-danger">Preenchimento incorreto!</div>
          </div>
          {% endif %}

          {% for field in form.visible_fields %}
          <div class="form-group col-md-12">
            <label for="input1">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors }}</div>
            {% endif %}
          </div>
          {% endfor %}
          <div class="form-group col-lg-12">
            <input type="hidden" name="save" value="contact">
            <button type="submit" class="btn btn-primary pull-right">Postar comentário</button>
            <div class="clearfix"></div>
          </div>

        </div>
      </form>
      {% else %}
      <div class="row">
        <div class="form-group col-md-12">
          <p>Você não pode postar comentários se não estiver logado no sistema.</p>
        </div>
      </div>
      {% endif %}

      <hr />
      <h4>Comentários</h4>
      {% for comentario in sugestao.get_comentarios %}
      <div class="row">
        <div class="col-sm-3">
          {{comentario.usuario}}
        </div>
        <div class="col-sm-9">
          {{comentario.conteudo}}
        </div>
      </div>
      {% empty %}
      Nenhum comentário
      {% endfor %}

    </div>

    {% if usuario.tipo == 'Responsavel' %}
    {% if not resposta %}
    <div class="col-sm-3">
      <form method="POST" id="ajax_submit_resposta">
        {% csrf_token %}
        <input type="hidden" name="sugestao" value="{{ sugestao.id }}" />


        <h3>Responder para os usuários</h3>

        {% for field in form_resposta.visible_fields %}
        <div class="form-group">
          <label for="input1">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
          <div class="alert alert-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary pull-right">Responder</button>
      </form>
    </div>
    {% endif %}
    {% endif %}

  </div>
</div>
{% endblock %}